*.o
bin/addj
bin/anisotropyit
bin/cf1ion_module/cfield.so
bin/cfield
bin/cond
bin/coq2jjj
bin/densplt
bin/formfactor
bin/ic1ion
bin/ic1ion_module/checkgcc.exe
bin/ic1ion_module/ic1ion.so
bin/ic1ion_module/icf1ion.so
bin/ic1ion_module/libs/arpack/libarpack.a
bin/ic1ion_module/libs/blas/libblas.a
bin/ic1ion_module/libs/lapack/libgotolapack.a
bin/ic1ion_module/libs/lapack/liblapack.a
bin/ic1ion_module/libs/libarpack.a
bin/ic1ion_module/libs/libblas.a
bin/ic1ion_module/libs/liblapack.a
bin/icf1ion
bin/jjj2j
bin/mcdiff
bin/mcdispit
bin/mcphasit
bin/phonon_module/phonon.so
bin/pointc
bin/radwavfunc
bin/reduce_unitcell
bin/singleion
bin/so1ion
bin/spins
bin/spinsfromq
lin.bat
